@model SexyUp.Web.ViewModels.Home.HomeViewModel
@Html.Partial("_Logotipo")


@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    <div>
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="input-group">
                    @Html.TextBoxFor(c => c.SearchTerm, new { @class = "form-control" })
                    <div class="input-group-append">
                        <button class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr class="invisible" />
        <div class="row">
            <div class="col-lg-8 m-auto">
                @foreach (var item in Model.SearchResult)
                {
                    <div class="item col-xl-4 col-md-6">
                        <div class="product is-gray">
                            <div class="image d-flex align-items-center justify-content-center">
                                <div class="ribbon ribbon-primary text-uppercase">Sale</div><img src="img/hoodie-man-1.png" alt="product" class="img-fluid">
                                <div class="hover-overlay d-flex align-items-center justify-content-center">
                                    <div class="CTA d-flex align-items-center justify-content-center"><a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i></a><a href="detail.html" class="visit-product active"><i class="icon-search"></i>View</a><a href="#" data-toggle="modal" data-target="#exampleModal" class="quick-view"><i class="fa fa-arrows-alt"></i></a></div>
                                </div>
                            </div>
                            <div class="title">
                                <small class="text-muted">@item.Brand</small>
                                <a href="detail.html">
                                    <h3 class="h6 text-uppercase no-margin-bottom">@item.Name</h3>
                                </a><span class="price text-muted">@item.Price</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}