@model SexyUp.ApplicationCore.Entities.Product

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="product-details">
    <div class="container">
        <div class="row product item ">

            <input type="hidden" value="@Model.Id" class="product-id" />
            <div class="d-none product-brand">@Model.Brand</div>

            <div class="product-images col-lg-6">
                <div data-slider-id="1" class="owl-carousel items-slider owl-drag">
                    @foreach (var image in Model.Image)
                    {
                        if (image.Cover)
                        {
                            <div class="item">
                                <img src="@image.ImagePath" alt="@image.Caption" class="img-product" style="max-height: none">
                            </div>
                        }
                        else
                        {
                            <div class="item">
                                <img src="@image.ImagePath" alt="@image.Caption">
                            </div>
                        }
                    }
                </div>
                <div data-slider-id="1" class="owl-thumbs d-flex align-items-center justify-content-center">
                    @foreach (var image in Model.Image)
                    {
                        <button class="owl-thumb-item">
                            <img src="@image.ImagePath" alt="@image.Caption">
                        </button>
                    }

                </div>
            </div>

            <div class="details col-lg-6">
                <div class="d-flex align-items-center justify-content-between flex-column flex-sm-row">

                    <ul class="price list-inline no-margin">
                        <li class="list-inline-item">
                            <h2 class="product-name">@Model.Name</h2>
                        </li>
                        <li class="list-inline-item current product-price">R$ @Model.Price</li>
                    </ul>
                </div>
                <p>
                    <input type="hidden" value="@Model.Description" class="product-description" />
                    @Model.Description
                </p>
                <div class="d-flex align-items-center justify-content-center justify-content-lg-start item">
                    <input type="hidden" value="@Model.Id" class="product-id" />
                    <div class="quantity d-flex align-items-center">
                        <div class="dec-btn">-</div>
                        <input type="text" value="1" class="quantity-no product-quantity">
                        <div class="inc-btn">+</div>
                    </div>
                </div>
                <ul class="CTAs list-inline">
                    <li class="list-inline-item"><a href="#" class="btn btn-template wide add-to-cart"> <i class="icon-cart"></i>Carrinho</a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-template-outlined wide"> <i class="fa fa-heart-o"></i>Lista de desejos</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>