@model IEnumerable<SexyUp.ApplicationCore.Entities.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="table table-responsive">
        <table class="table table-hover table-responsive-md text-center dataTable">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Email</th>
                    <th>Editar</th>
                    <th>Bloquear</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>
                            <a href="@Url.Action("Edit", "FornecedorUser", new {id = item.Id})" class="btn btn-sm btn-primary">
                                <i class="fa fa-edit"></i> Editar
                            </a>
                        </td>
                        <td>
                            @if (item.LockoutEndDateUtc > DateTime.Now)
                            {
                                <a href="@Url.Action("Unlock", "FornecedorUser", new {id = item.Id})" class="btn btn-sm btn-info">
                                    <i class="fa fa-unlock"></i> Desbloquear
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Lock", "FornecedorUser", new {id = item.Id})" class="btn btn-sm btn-danger">
                                    <i class="fa fa-lock"></i> Bloquear
                                </a>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<hr class="invisible" />

<div class="row pull-right">
    <a href="@Url.Action("Register", "FornecedorUser")" class="btn btn-primary">
        <i class="fa fa-user"></i> Cadastrar
    </a>
</div>

@section styles{
    @Styles.Render("~/bundles/datatables/css")
}

@section scripts{
    @Scripts.Render("~/bundles/datatables/js")
}
