@model SexyUp.Web.ViewModels.Order.CheckoutViewModel

@{
    ViewBag.Title = "Checkou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="checkout no-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="#" class="nav-link active">Endereço</a></li>
                    <li class="nav-item"><a href="#" class="nav-link disabled">Metodo de pagamento </a></li>
                    <li class="nav-item"><a href="#" class="nav-link disabled">Revisão do pedido</a></li>
                </ul>
                <div class="tab-content">
                    <div id="address" class="active tab-block">
                        @using (Html.BeginForm("Checkout", "Order", FormMethod.Post))
                        {
                            <!-- Invoice Address-->
                            <div class="block-header mb-5">
                                <h6>Endereço de entrega </h6>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(c => c.FirstName, new { @class = "form-label" })
                                    @Html.TextBoxFor(c => c.FirstName, new { @class = "form-control", disabled = true })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(c => c.LastName, new { @class = "form-label" })
                                    @Html.TextBoxFor(c => c.LastName, new { @class = "form-control", disabled = true })
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(c => c.Email, new { @class = "form-label" })
                                    @Html.TextBoxFor(c => c.Email, new { @class = "form-control", disabled = true })
                                </div>
                                <div class="form-group col-md-8">
                                    @Html.LabelFor(c => c.Street, new { @class = "form-label" })
                                    @Html.TextBoxFor(c => c.Street, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.Street, null, new { @class = "badge badge-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(c => c.Number, new { @class = "form-label" })
                                    @Html.TextBoxFor(c => c.Number, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.Number, null, new { @class = "badge badge-danger" })
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(c => c.ZipCode, new { @class = "form-label" })
                                    @Html.TextBoxFor(c => c.ZipCode, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.ZipCode, null, new { @class = "badge badge-danger" })
                                </div>
                            </div>

                            <div class="CTAs d-flex justify-content-between flex-column flex-lg-row">
                                <a id="cartdetails" href="@Url.Action("Cart", "Order")" class="btn btn-template-outlined wide prev"> <i class="fa fa-angle-left"></i>Voltar ao carrinho</a>
                                <button type="submit" class="btn btn-template wide next">Metodo de pagamento<i class="fa fa-angle-right"></i></button>
                            </div>
                        }
                    </div>
                </div>
            </div>

            @Html.Partial("_Partials/_OrderSummary", false)

        </div>
    </div>
</section>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        (function () {
            Cart.updateOrderSumary();
        })();
    </script>
}