@model SexyUp.Web.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="block">
            <div class="block-header text-center">
                <h5>Nova conta</h5>
            </div>
            <div class="block-body">
                <hr>
                @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(c => c.FirstName, new { @class = "form-label" })
                        @Html.TextBoxFor(c => c.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.FirstName, null, new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => c.LastName, new { @class = "form-label" })
                        @Html.TextBoxFor(c => c.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.LastName, null, new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => c.Email, new { @class = "form-label" })
                        @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.Email, null, new { @class = "badge badge-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(c => c.Gender, new { @class = "form-label" })

                        <div class="row m-auto">
                            <div class="col-lg-3 offset-lg-3">
                                @Html.RadioButtonFor(m => m.Gender, "M", new { id = "Masculino", @class = "form-control radio-template", @checked = "checked" })
                                <label for="Masculino">Masculino</label>
                            </div>
                            <div class="col-lg-3">
                                @Html.RadioButtonFor(m => m.Gender, "F", new { id = "Feminino", @class = "form-control radio-template" })
                                <label for="Feminino">Feminino</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(c => c.Cpf, new { @class = "form-label" })
                        @Html.TextBoxFor(c => c.Cpf, new { @class = "form-control cpf" })
                        @Html.ValidationMessageFor(c => c.Cpf, null, new { @class = "badge badge-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(c => c.BirthDate, new { @class = "form-label" })
                        @Html.TextBoxFor(c => c.BirthDate, new { @class = "form-control datepicker" })
                        @Html.ValidationMessageFor(c => c.BirthDate, null, new { @class = "badge badge-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(c => c.Password, new { @class = "form-label" })
                        @Html.PasswordFor(c => c.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.Password, null, new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => c.ConfirmPassword, new { @class = "form-label" })
                        @Html.PasswordFor(c => c.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.ConfirmPassword, null, new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary"><i class="icon-profile"></i> Cadastrar</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/vendor/bootstrap-datepicker/css")
    @*@Styles.Render("~/content/theme/css")*@
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/vendor/jquery-mask/js")
    @Scripts.Render("~/vendor/bootstrap-datepicker/js")
}
