@using SexyUp.Web.Libraries.ControlerSelected
<!-- navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">

            <!-- Navbar Header  -->
            <button type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Navbar Collapse -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item dropdown">
                        <a id="navbarHomeLink" href="@Url.Action("Index", "Home")" aria-haspopup="true" aria-expanded="false" class="nav-link @Html.IsSelected("Home", "Index")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "SexyService")" class="nav-link @Html.IsSelected("SexyService", "Index")">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "LojasProximas")" class="nav-link @Html.IsSelected("LojasProximas", "Index")">Lojas próximas</a>
                    </li>
                </ul>
                <div class="right-col d-flex align-items-lg-center flex-column flex-lg-row">
                    <!-- User Not Logged - link to login page-->
                    <div class="user"> <a id="userdetails" href="@Url.Action("Login", "Account")" class="user-link"><i class="icon-profile">                   </i></a></div>

                    <!-- Cart Dropdown-->
                    <div class="cart dropdown show">
                        <a id="cartdetails" href="@Url.Action("Cart", "Order")" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                            <i class="icon-cart"></i>
                            <div class="cart-no">0</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
